@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-oxford-blue/5;
  }
}

@layer components {
  .cards-grid {
    display: grid;
    place-content: center;
    place-items: start center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
